<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFileAppender"
                     fileName="logs/hephaestus-backend.log"
                     filePattern="logs/hephaestus-backend-%d{dd-MM-yyyy-HH-mm}-%i.log.gz">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="1 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="ErrorRollingFileAppender"
                     fileName="logs/error/hephaestus-backend-error.log"
                     filePattern="logs/error/hephaestus-backend-error-%d{dd-MM-yyyy-hh-mm}-%i.log.gz">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="500 KB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" >
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="RollingFileAppender" />
            <AppenderRef ref="ErrorRollingFileAppender" level="error"/>
        </Root>
    </Loggers>
</Configuration>